.text {
    font-family: "Montserrat", sans-serif!important;
    font-size: 30px!important;
    align-items: center!important;
    text-align: center!important;
    color: #0B5C2B!important;

}


form {
    width: 85%!important;
    text-align: center!important;


}
.background_input {
    background: #cbeffc !important;
    width: 80% !important;
    height: 10% !important;


}

.center{

    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-color{
    color: #454141 !important;
    background-color: #c4daee !important;
    border: 0;
    -webkit-box-shadow: none;


    font-weight: bold!important;

}
.error-message{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 12px;
    margin-bottom: 0;
}


.box {

    padding: 10px;
    box-shadow: 1px 1px 1px 1px #E1E8EF;
    background-color: white;
    border: 2px solid #ffffff;
    border-radius: 25px;
}
.background{
    background-image: url("../assets/backe2.png");
    background-repeat: no-repeat;
    background-size: cover;


}

 img{
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
.text-footer {
    font-size: 12px!important;
    color: #4eb6d6 !important;
     margin-left: 15px!important;
    float: left;
}
.text-footer-label{
    font-size: 12px!important;
    color: #252929 !important;
    margin-right: 20px!important;
    margin-bottom: 20px!important;

}

 /* mobile screen */
@media only screen and (max-width: 480px) {

   .box{
       -webkit-box-shadow: none;
       -moz-box-shadow: none;
       box-shadow: none;
           margin: auto;
       border: none;
       border-radius: 0;
       display: flex;
       align-items: center;
       justify-content: center;
       min-height: 100vh;
   }
    .background_input {
        background: #e9faf9 !important;
        width: 100% !important;
    }
    form {
        width: 16rem!important;
        text-align: center!important;


    }


}
/* ipad in portarit and landscap */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {


    form {
        width: 100%!important;
        text-align: center!important;


    }

  /* TODO
   .ipad2{

  } */
    .ipad {
        overflow: hidden!important;
        width: 140vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .text-footer {
        font-size: 18px!important;
        color: #4eb6d6 !important;
        margin-left: 15px!important;
        float: left;
    }
    .text-footer-label{
        font-size: 18px!important;
        color: #252929 !important;
        margin-right: 20px!important;
        margin-bottom: 20px!important;

    }
}