.mainRow{
    padding: 10px;
    background-color: white;
    border-radius: 25px;
    
}

.table  {
    text-align: left;
    
}

.table th {
    vertical-align: middle;

}


.tableStyle td{
    vertical-align: middle;


}


.tableStyle th{
    vertical-align: middle;
    font-size: 80%;
}

.table thead th {

    vertical-align: middle;
}

.tableStyle{
    text-align: left;
}