.Calendar1 {
    font-weight: bolder;
    width: 50%;
}

.images{
    position: relative;
    text-align: center;
}

.top-row-btn {
    padding-bottom: 10px;
}


.btn.btn-light {
    background-color: #fafdfd;
    border: 1px solid #0a470a;
    border-radius: 10px;
    color: #385844;
    font-weight: bolder;
}

.btn.btn-light:hover {
    background: #c0e0e7;
}

.btn.btn-light:focus {
    background: #17a2b8!important;
}

.buttonActive{
    background: #c0e0e7;
    border: 1px solid #000158;
    border-radius: 1px;
    color: #284934;
    font-weight: bolder;
    width: 100%;
  padding: 6px 12px;

}

/* DatePicker style*/

  .wrapper { position: relative; }

  i.fa-calendar {
       position: absolute;
        top: 3px; 
        left: 5px;         
    }
  
  #dpLable {
    color: #284934;
    width: 20%;
    height: 30px;
    padding-top: 3px;
    text-align: justify;
    font-size: 15px;
    font-weight: bold;
  }

  .dateInput {
    color: #355541;
    padding-left: 20px;
    background-color: #f5feff;
    border-color: #e7e7e7;
    border-radius: 3px;
    font-weight: bold ;
    text-align: center;
}

  .dateInput:hover{
    color: rgb(0, 0, 0);
    cursor: pointer;
    background-color: #a2e7f1;
    border-color: #c5e4e9;
  }

  .dateInput:active{
    background-color: #ffffff;
    border-color: #17a2b8;
    cursor: pointer;
  
  }

  .react-datepicker-popper {
    z-index: 9999 !important;
}




.WithStyles\(ForwardRef\(TableCell\)\)-head-2 {
    color: #fff;
    background-color: #e257a3 !important;

}
.title {
    font-family: Gilroy,sans-serif!important;
    font-size: 25px!important;
    font-weight: bold;


    color:#00587a !important;

}

.MuiTableCell-root {
    padding-bottom: 3px !important;
    padding-left: 15px!important;
    padding-top: 5px!important;
}




/* MAP STYLE */

    /* Zone A*/
.span1 {
    position: absolute;

    font-weight: bolder;
    padding: 5px;
    font-size: 14px;
    bottom:25px;
    left: 255px;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 5px;
    pointer-events: none;
    z-index: 1000;
    color: #355541;
    font-style: oblique;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* Zone B*/
.span2 {
    position: absolute;
    font-weight: bolder;

    padding: 5px;
    font-size: 14px;
    bottom: 40px;
    left: 140px;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 5px;
    pointer-events: none;
    z-index: 1000;
    color: #355541;
}


/* Zone C*/
.span3 {
    position: absolute;
    padding: 5px;
    font-size: 14px;
    top: 220px;
    left: 35px;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 5px;
    pointer-events: none;
    z-index: 1000;
    color: #355541;
    font-weight: bolder;
}


/* Zone D*/
.span4 {
    position: absolute;
    padding: 5px;
    top: 60px;
    left: 38px;
    font-size: 14px;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 5px;
    pointer-events: none;
    z-index: 1000;
    color: #355541;
    font-weight: bolder;
}


/* Zone E*/
.span5 {
    position: absolute;
    font-weight: bolder;
    padding: 5px;
    font-size: 14px;
    top: 70px;
    left: 110px;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 5px;
    pointer-events: none;
    z-index: 1000;
    color: #355541;

}


/* Zone F*/
.span6 {
    position: absolute;
    padding: 5px;
    font-weight: bolder;
    font-size: 14px;
    top: 69px;
    left: 213px;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 5px;
    pointer-events: none;
    z-index: 1000;
    color: #355541;
}


/* Zone G*/
.span7 {
    font-weight: bolder;
    position: absolute;
    padding: 5px;
    font-size: 12px;
    top: 130px;
    left: 40px;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 5px;
    pointer-events: none;
    z-index: 1000;
    color: #355541;
}


/* mobile screen */

@media only screen and (max-width: 480px) {
    .btn-group-vertical {
        vertical-align: baseline !important;
    }
}


@media only screen and (max-width:540px) {
    .zoneSettingsForm{

        background-color: #e1f2fb;
        border-radius: 20px;
        padding: 15px;
        margin: 3px;
        min-width:  110%;
    }
  
}