.images{
    position: relative;
    text-align: center;
}
.react-datepicker-popper {
    z-index: 9999 !important;
}

.top-row-btn {
    padding-bottom: 10px;
}
.Calendar1 {
    font-weight: bolder;
    width: 70%;
}

.btn.btn-light:hover {
    background: #17a2b8;
}

.btn.btn-light:focus {
    background: #17a2b8!important;
}



.btn.btn-light {
    background-color: #fafdfd;
    border: 1px solid #66c9e9;
    border-radius: 10px;
    color: #ec0e92;
    font-weight: bolder;
}

.WithStyles\(ForwardRef\(TableCell\)\)-head-2 {
    color: #fff;
    background-color: #e257a3 !important;

}
.title {
    font-family: Gilroy,sans-serif!important;
    font-size: 30px!important;


    color:#e257a3 !important;

}

.MuiTableCell-root {
    padding-bottom: 3px !important;
    padding-left: 15px!important;
    padding-top: 5px!important;
}

    /* Zone A*/

.span1 {
    position: absolute;

    font-weight: bolder;
    padding: 5px;
    font-size: 14px;
    bottom:28px;
    left: 255px;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 5px;
    pointer-events: none;
    z-index: 1000;
    color: #4b54f3;
    font-style: oblique;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* Zone B*/

.span2 {
    position: absolute;
    font-weight: bolder;

    padding: 5px;
    font-size: 14px;
    bottom: 40px;
    left: 140px;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 5px;
    pointer-events: none;
    z-index: 1000;
    color: #4b54f3;
}


/* Zone C*/

.span3 {
    position: absolute;
    padding: 5px;
    font-size: 14px;
    top: 220px;
    left: 35px;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 5px;
    pointer-events: none;
    z-index: 1000;
    color: #4b54f3;
    font-weight: bolder;
}


/* Zone D*/

.span4 {
    position: absolute;
    padding: 5px;
    top: 60px;
    left: 40px;
    font-size: 14px;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 5px;
    pointer-events: none;
    z-index: 1000;
    color: #4b54f3;
    font-weight: bolder;
}


/* Zone E*/

.span5 {
    position: absolute;
    font-weight: bolder;
    padding: 5px;
    font-size: 14px;
    top: 70px;
    left: 120px;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 5px;
    pointer-events: none;
    z-index: 1000;
    color: #4b54f3;

}


/* Zone F*/

.span6 {
    position: absolute;
    padding: 5px;
    font-weight: bolder;
    font-size: 14px;
    top: 70px;
    left: 220px;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 5px;
    pointer-events: none;
    z-index: 1000;
    color: #4b54f3;
}


/* Zone G*/

.span7 {
    font-weight: bolder;
    position: absolute;
    padding: 5px;
    font-size: 12px;
    top: 130px;
    left: 40px;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 5px;
    pointer-events: none;
    z-index: 1000;
    color: #4b54f3;
}


/* mobile screen */

@media only screen and (max-width: 480px) {
    .btn-group-vertical {
        vertical-align: baseline !important;
    }
}