


.nav-item, .nav-link{ 
    color: black !important;
    padding-left: 10px;
    
}



.navbar-nav{
    margin: auto;
    padding:10px;
    font-size: 12px;
  
}

.nav-item:hover {
    background-color: #a2e7f1;

    opacity: 0.9;
    
}
.dropdown-menu {
    z-index: 9999 !important;
    position: absolute!important;
    background-color: white;
}


 .dropdown-item{
     z-index: 9999 !important;

     background-color: white
 }

.navbar{
    margin-bottom: 40px;
    box-shadow: 1px 1px 1px 1px #E1E8EF;
    background-color: rgb(255, 255, 255);
    border: 2px solid #ffffff;
    border-radius: 25px;
}

.navbar img{
    max-height: 30px;
}


@media (max-width: 978px) {
    .navbar {
margin-bottom: 0px;
}}

@media all and (min-width:991px) {
    .dropdown:after{
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: opacity .15s ease-in-out;
        opacity: 0;
        visibility:hidden;

        pointer-events: none;
    }
    .dropdown.show .nav-link{
        position:relative;
        z-index:12;
    }
    .dropdown.show:after{
        z-index:10; opacity:1;
        visibility:visible;
        position: fixed;
    }
}