
.navbar-dark {
    background-color: #fcfcfc;
    border-radius: 14px;
    box-shadow: 1px 1px 1px 1px #E1E8EF;

    border: 2px solid #ffffff;
     }

.nav-item, .nav-link{ 
    color: #a2056d !important;
    padding-left: 10px;
    
}

.navbar-nav{
    margin: auto;
    padding: 20px;
  
}

.nav-item:hover {
    background-color: #d787aa;

    opacity: 0.9;
    
}


.navbar{
    margin-bottom: 40px;
}

.navbar img{
    max-height: 30px;
}


