


.nav-item, .nav-link{ 
    color: black !important;
    padding-left: 10px;
    
}



.navbar-nav{
    margin: auto;
    padding: 20px;
  
}

.nav-item:hover {
    background-color: #a2e7f1;

    opacity: 0.9;
    
}
.dropdown-menu {
    z-index: 9999 !important;
    position: absolute!important;
    background-color: white;
}


 .dropdown-item{
     z-index: 9999 !important;

     background-color: white
 }

.navbar{
    margin-bottom: 40px;
}

.navbar img{
    max-height: 30px;
}


@media (max-width: 978px) {
    .navbar {
margin-bottom: 0px;
}}